{% extends "base.html" %}

{% block content %}
<h2>Accesso</h2>

<form method="POST">
  <div>
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" placeholder="Inserisci la tua email" required>
  </div>

  <div>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" placeholder="Inserisci la password" required>
  </div>

  <button type="submit">Accedi</button>
</form>

<p>Non hai ancora un account? <a href="{{ url_for('register') }}">Registrati qui</a></p>
{% endblock %}
